.cart{
  


}

.cart button{
    padding: 10px;
    padding-right: 10px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.cart button:hover{
    cursor: pointer;
}
.cart  .delete-btn{
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: large;
}

.cart .review-btn{
    background-color: #FF9900;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: large;
}