
.header {
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
}

.navigation {
    display: flex;
    gap: 20px;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.active{
    background-color: white;
    color: black !important;
    padding: 3px;
    border-radius: 10px;
}